<div class="nav-bar">
             <section class="nav-logo">
            <img src="/assets/img/capa-1.svg" alt="" class="nav-img">
        </section>
        <section class="nav-links">
            <nav>
                <a href="summary.html">
                    <img src="/assets/img/icons/summary.svg" alt="">
                    <p>Summary</p>
                </a>
                <a href="add-task.html">
                    <img src="/assets/img/icons/addtasks.svg" alt="">
                    <p>Add Tasks</p>
                </a>
                <a href="board.html">
                    <img src="/assets/img/icons/board.svg" alt="">
                    <p>Board</p>
                </a>
                <a href="contacts.html">
                    <img src="/assets/img/icons/contact.svg" alt="">
                    <p>Contacts</p>
                </a>
            </nav>
            <div class="footer-links">
                <a href="privacy-policy.html" class="footer-left">Privacy Policy</a>
                <a href="legal-notice.html" class="footer-right">Legacy notice</a>
            </div>
        </section>
        
</div>


