.nav-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--nav);
  color: var(--color-text-on-dark);

  padding: 64px 0 40px;

  height: 100vh;
  width: 232px;
}

.nav-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}

.nav-img{
  width: 100px;
  height: 122px;
}

.nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav-links nav{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  gap: 15px;
}

.nav-links nav a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  width: 100%;
  padding: 8px 56px;
  text-decoration: none;
  color: var(--color-divider);
}

.nav-links nav img{
  width: 30px;
  height: 30px;
}

.nav-links nav p{
  margin: 0;
}

.nav-links nav a:hover{
  background: var(--nav-hover);
}

.nav-links nav a.nav-active{
  background: var(--nav-active);
  color: var(--color-text-on-dark);
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding-bottom: 8px;
  padding-left: 60px;
}

.footer-links a,
.footer-links a:visited{
  color: var(--color-divider);
  text-decoration: none;
  font-size: 16px;
}

.footer-links a.nav-active{
  color: var(--color-text-on-dark);
  font-weight: var(--font-weight-bold);
}

.footer-links a:hover{
  color: var(--accent);
}
